
.header-wrapper{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    .header-title-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em 1em;
        background-color: var(--header-bg-color);
        .title{
            color: var(--text-color);
            h2{
                margin: 0;
                padding: 0;

            }
            .sub-heading{
                position: relative;
                top: -10px;
                font-weight: 500;
            }
        }
        .theme-area{
            width: 20px;
            position: fixed;
            right: 0;
            top: 7em;
            background-color: #fff;
            border-radius: 3px;
            color: #fff;
            padding: 0px 6px;
            transition: all .5s ease-in-out;
            cursor: pointer;
            svg{
                color: #fff;
                position: relative;
                top: 3px;
                transition: all .5s ease-in-out;

            }
            
        }
        .header-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5em;
            ul{
                display: flex;
                justify-content: space-between;
                list-style: none;
                gap: 2em;
                li{
                    font-size: 1.1em;
                    font-weight: 500;
                    cursor: pointer;
                    color: var(--text-color);
                    a{
                        text-decoration: none;
                        color: inherit;
                    }

                    .active{
                        text-decoration: none;
                        color:var(--active-link-color);
                    }
                    .pending{
                        text-decoration: none;
                    }
                }
            }
            .header-login{
                display: flex;
                gap: 1em;
                button{
                    all: unset;
                    background-color: var(--btn-bg-color);
                    color: var(--btn-text-color);
                    padding: 5px 20px;
                    border-radius: 6px;
                }
            }
        }
    }
}