.main-content{
    background-color: #fff;
    // padding: 2em 0;
    .intro-section{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        gap: 1em;
        padding: 3em 2em;
        margin-top: 1em;

        .image{
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 8px;
            padding: 10px;
            // box-shadow: 0 0 10px rgba(0 0 0/10%);
           img{
            width: 620px;
            @media(max-width:760px){
                width: 250px;;
            }
           }
        }
        .description{
            padding: 10px;
            width: 600px;
            text-align: justify;
            p{
                font-size: 1.2em;
            }
        }
    }
    .divider{
        height: 90px;
        width: 100%;
    }
    .ending-quote{
       display: flex;
       justify-content: center;
       align-items: center;
       .quotes-card{
            width: 1050px;
            text-align: center;
            padding: 50px;
            box-shadow: 0 0 10px 0 rgba(0 0 0/15%);
            border-right: 4px solid green;
            border-left: 4px solid green;
            border-radius: 6px;
            .info{
                font-weight: 500;
                font-size: 1.4em;
                word-wrap: break-word;
            }
            .end-info{
                font-size: 1.3em;
            
                .link{
                    color: rgb(4, 134, 234);
                }
            }
       }
    }
}