.main-content{
    background-color: #fff;
    // padding: 2em 0;
    .intro-section{
        display: flex;
        justify-content: space-between;
        gap: 1em;
        padding: 3em 2em;
        margin-top: 1em;

        .image{
            border: 1px solid #fff;
            background-color: #fff;
            border-radius: 8px;
            padding: 10px;
            // box-shadow: 0 0 10px rgba(0 0 0/10%);
           img{
            width: 620px;
           }
        }
        .description{
            padding: 10px;
            width: 600px;
            text-align: justify;
            p{
                font-size: 1.2em;
            }
        }
    }
    .divider{
        height: 150px;
        width: 100%;
    }
}