.sign-wrapper-1{
    display: flex;
    justify-content: center;
    padding: 2em;
    align-items: center;
    // height: 70vh;

    .sign-form{
        max-width: 500px;
        min-width: 300px;
        width: 100%;
        background-color: var(--box-bg-color);
        box-shadow: 0 0 10px 0 rgba(0 0 0/10%);
        border-radius: 8px;
        padding: 20px;

        .title{
            h2{
                border-bottom: 4px solid var(--text-color);
                display: inline-block;
            }
        }
       form{
        .form-group{
            padding:10px 20px 10px 0;
            input{
                all: unset;
                border: 1.4px solid var(--border-color);
                padding: 10px;
                width: 100%;
                border-radius: 6px;
            }
            input:focus{
                border-color: cadetblue;
            }
            .error-msge{
                color: red;
                text-decoration: none;
            }
            .error-input{
                border: 1.6px solid red;
            }
        }
        
        .button-area{
            padding: 1em 1.2em 1em 0;
            button{
                all: unset;
                background-color: var(--btn-bg-color);
                color: var(--btn-text-color);
                padding: 10px;
                width: 100%;
                text-align: center;
                border-radius: 6px;

            }
            .disable-btn{
                opacity: .6;
            }
        }

       }
    }
}