$primary-button-bg-color : #000000;
$primary-button-text-color:#fff;
$box-model-shadow:rgba(0 0 0/10%);
$footer-bg-color:rgb(7, 142, 7);
$footer-author-note-color:rgb(13, 13, 13);
$main-bg-color:rgb(189, 247, 189);