
$dark-text-color:#fff;

$dark-btn-bg-color:#7F39FB;
$dark-btn-text-color:#ffffff;

$dark-main-bg-color:#1E1E1E;

$dark-header-bg-color:#151515;
$dark-header-text-color:#f1f1f1;

$dark-active-link-color:green;

$dark-footer-bg-color:#151515;
$dark-footer-text-color:#ffffff;

$dark-box-bg-color:#151515;
$dark-border-color:#1D1D1D;

$dark-tags-bg-color:#1E1E1E;
$dark-tags-text-color:#898989;

$dark-recent-border-color:#f1f1f1;
$dark-common-white-text-color : #f1f1f1;

$dark-box-model-shadow:rgba(0 0 0/10%);