// src/scss/_light-theme.scss

$header-bg-color :rgb(189, 247, 189);
$header-text-color:#000000;

$btn-bg-color:#000000;
$btn-text-color:#ffffff;

$common-white-text-color:#000000;

$theme-bg-color:#ffffff;
$box-model-shadow:rgba(0 0 0/10%);

$main-bg-color:rgb(189, 247, 189);

$footer-bg-color:rgb(7, 142, 7);
$footer-text-color:#fff;

$tags-bg-color:green;
$tags-text-color:#f1f1f1;

$active-link-color:green;
$border-color:#ddd;

$recent-border-color:green;

